
<div class="row">
    <div class="col-3 m-2">
        <button class="btn btn-success btn-block" @onclick="ToggleForm">+</button>
    </div>
    <div class="col-3 m-2">
        <button class="btn btn-danger btn-block" disabled="@(_selectedModel == null)">Remove</button>
    </div>
    <div class="col-3 m-2">
        <button class="btn btn-primary btn-block">Save</button>
    </div>
</div>

@if (_isFromShown)
{
    <div class="row">
        <WorkItemForm OnFormSubmitted="OnFormSubmitted" Model="_selectedModel" />
    </div>
}

<div class="row">
    <div class="col-12">
        <ListView Items="_workItems" @bind-SelectedItem="_selectedModel">
            <ItemTemplate>
                <div class="flex-row align-items-center" style="color:white; background-color: @context.Color">
                    <div style="margin: 4px; border-radius: 5px;">
                        <h3 class="ms-fontSize-22">@context.Name</h3>
                    </div>
                    <div class=" overflow:hidden; white-space:nowrap; text-overflow: ellipsis;">
                        <p class="ms-fontSize-18">@context.Description</p>
                        <p class="ms-fontSize-18">@context.Severity</p>
                    </div>
                </div>
            </ItemTemplate>
        </ListView>
    </div>
</div>
